# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# Database (e.g. PlanetScale, Supabase, etc.)
DATABASE_URL=

# App
NEXT_PUBLIC_GYM_NAME="A-1 EXPRESS"
NEXT_PUBLIC_GYM_BRANCH="つつじヶ丘店"
